* {
    font-family:Lato;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
}

/* CONTENT *******************************************************************/

#content {
    position:absolute;
    bottom: 50px;
    top: 10px;
    left: 10px;
    right: 10px;
}
#content .page-loading-status {
    width:128px;
    height:64px;
    margin:-32px 0 0 -64px;
    position:absolute;
    top:50%;
    left:50%;
}

.experiments {
    float:left;
    width:60%;
    overflow-y:scroll;
    font-size:14px;
    height:100%;
}

.experiments .heading {
    color:#242F38;
    margin: 0 0 12px;
    padding: 0 0 10px;
    border-bottom: 1px solid #e5e5e5;
}
.experiments .heading .title {
    font-size:18px;
    font-weight:300;
}
.experiments table {
    border-spacing:0;
    width:100%;
    font-size:12px;
    border-collapse: collapse;
}
.experiments table tr {}
.experiments table tr:hover {
    background:#fafafa;
    cursor:pointer;
}
.experiments table tbody tr.header:hover {
    background:none;
    cursor:default;
}
.experiments table tr td {
    padding:3px 0;
    padding:3px 0 5px 1.5%;
}
.experiments table tr td.image {
    width:8%;
    position:relative;
}
.experiments table tr td.image .image-wrap {
    width:30px;
    height:30px;
    margin:2px 0 0;
    position:relative;
}
.experiments table tr td.image .image-wrap .circle {
    width: 30px;
    height: 30px;
    overflow:hidden;
    border-radius:15px;
}
.experiments table tr td.image .image-wrap .circle img {
    width:100%;
}
.experiments table tr td.meta {
    width:76%;font-size: 12px;
}
.experiments table tr td.meta .title {
    font-weight:400;
    color:#769AB8;
    text-decoration: underline;
}
.experiments table tr td.meta .stats {
    margin: 3px 0 0;
    color:#666
}
.experiments table tr td.age {
    width:16%;
    color: #666;
    font-weight: 300;
    text-align:right;
    position:relative
}
.experiments table tr td:nth-of-type(2) {
    padding-left:0;
}
.experiments table tr td:last-child {
     padding:3px 3px 0 0;
}
.experiments table tr:hover td {
    border-color:#eee;
}
.experiments table tbody tr.header td {
    padding:20px 0 3px;
    color:#3E5161;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.experiments table tbody:first-child tr.header td {
    padding:0px 0 3px 0
}

.experiments table.header {
    text-transform:uppercase;
    font-weight:300;
}

.experiments hr {
    margin-top:15px;
}
.overview {
    float:right;
    width:40%;
    height:100%
}
.overview .row {
    margin:40px 0 0
}
.overview .row:first-child {
    margin:0;
}
.overview .row .col-2 {
    width:50%;
    float:left;
    text-align:center;
}
.overview .row .col-2 .title,
.overview .commit-history .title {
    color:#666;
    cursor:help;
    font-weight:300
}
.overview .row .col-2 .chart {
    margin:10px auto 0;
    font-size: 28px;
    font-weight: 100;
}
.overview .row .col-2 .number {
    font-size: 85px;
    margin: 13px 0 0;
    font-weight: 100;
}
.overview .commit-history .title {
    text-align:center;
    margin:0 0 -20px;
}
.overview .commit-history {
    position:relative;
}
.overview .commit-history-graph .loading {
    width:100px;
    height:20px;
    font-size:12px;
    margin:80px auto 0;
    display:block;
    text-align:center;
}

/* SETTINGS ******************************************************************/

#settings {
    overflow-y:scroll;
    font-size:14px;
    height:100%;
    padding:0 10px;
}
#settings .header {
    font-size:18px;
    margin:0 0 12px;
    padding:0 0 12px;
    border-bottom:1px solid #e5e5e5
}
#settings .settings {
    float:left;
    width:50%;
}

#settings form fieldset {
    display:block;
    margin:0 0 30px;
    padding:0;
    border:none;
    max-width:300px;
}
#settings form fieldset label {
    float:none;
}
#settings form fieldset label .title {
    margin:9px 0 0;
    font-size:14px;
}
#settings form fieldset label .description {
    font-size:12px;
    margin:3px 15px 10px 0;
    color:#666;
}
#settings form fieldset input {
    float:left;
    width:200px;
    padding:5px 8px;
    border:1px solid #c5c5c5;
    border-radius:2px;
    font-size:14px
}
#settings form fieldset input[type=number] {
    width:60px;
}
#settings form fieldset select {
    display:block;
    float:left;
}
#settings form fieldset .days {
    display:
    inline-block;
    margin:8px 0 0 10px;
    font-size:14px;
}
.button,
#settings button.save,
#settings button.save:focus {
    background: #4bf;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    margin:10px 0 0;
    cursor:pointer;
    outline:none;
     -webkit-transition: background 0.3s ease, color 0.3s ease;
    -moz-transition: background 0.3s ease, color 0.3s ease;
    -o-transition: background 0.3s ease, color 0.3s ease;
    transition: background 0.3s ease, color 0.3s ease;
}

#settings button.save:not([disabled]):hover {
    background:#5EC0F8;
}
#settings button.save:not([disabled]):active {
    box-shadow: inset 0 2px 0 #2A79A7;
    background: #349CD8;

}
#settings button.save[disabled] {
    cursor:default;
    opacity:.5;
}
#settings .saved-successfully {
    display:none;
    margin:5px;
    font-size:12px;
}
#settings .saved-successfully .icon-ok {
    color:#37C737;
}

#settings #filters {

}
#settings #filters table.filters {
    width:100%;
}
#settings #filters table.filters tbody {

}
#settings #filters table.filters tbody .filter {
    margin:0 0 10px;
}
#settings #filters table.filters tbody .filter .meta {
    float:left;width:35%;
}
#settings #filters table.filters tbody .filter .meta .delete {
    float:right;
    margin:6px 10% 0 0;
    color:#769AB8;
    font-size:10px;
    cursor:pointer;
}
#settings #filters table.filters tbody .filter .meta .delete .icon-remove {
    margin-right:2px;
}
#settings #filters table.filters tbody .filter .conditions {
    float:left;width:65%
}
#settings #filters table.filters tbody .filter .conditions .heading {
    color:#666;font-size:10px;text-transform:uppercase;padding:4px 0 6px;
}
#settings #filters table.filters input {
    float: left;
    padding: 2px 0;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: border  linear .5s;
    -moz-transition: border  linear .5s;
    -o-transition: border linear .5s;
    transition: border linear .5s;
}
#settings #filters table.filters input.name {
    display:block;width:90%;font-size:12px;color:#3E5161;
}
#settings #filters table.filters input.description {
    display:block;width:90%;font-size:12px;color:#666666;font-weight:300;
}
#settings #filters table.filters input:disabled {
    float: left;
    padding: 2px 0;
    border: none;
    font-size: 14px;
}
#settings #filters table.filters input:focus {
    box-shadow:none;
    outline: 0 none;
    border-bottom:1px solid #4bf;
}

/* FOOTER ********************************************************************/

footer {
    position:absolute;height:40px;
    bottom:0;left:0;right:0;
    border-top:1px solid #e5e5e5;
    background:#fff;
}
footer .inner {
    margin:12px;
    color:#aaa;
    font-size:12px;
}
footer .inner a {
    color:#888;
    text-decoration:underline;
}
footer .inner .pages {
    float:left;
    list-style:none;
    margin: -13px 0 0;
    padding:0;
}
footer .inner .pages li {
    display:inline-block;
    margin: 0;
    width: 40px;
    text-align: center;
    height:41px;
    -webkit-transition: background 0.3s ease, color 0.3s ease;
    -moz-transition: background 0.3s ease, color 0.3s ease;
    -o-transition: background 0.3s ease, color 0.3s ease;
    transition: background 0.3s ease, color 0.3s ease;
}
footer .inner .pages li:hover,
footer .inner .pages li.active {
    background:#5EC0F8;
    color:#fff;
    cursor:pointer;
}
footer .inner .pages li:active {
    box-shadow: inset 0 2px 0 #2A79A7;
    background: #349CD8;
}
footer .inner .pages li .icon {
    vertical-align: 19px;
    margin: 13px 0 0;
    display: block;
    font-size: 16px;
}
footer .inner .meta-data {
    float:right
}

footer .inner .loading-status {
    width:30px;
    height:13px;
    margin:13px 0 0 10px;
    display:inline-block;
}
footer .inner .loading-status img {
    height:100%;
}

/* UTILITIES *****************************************************************/

.badge {
    display:inline-block;
    padding:2px 4px;
    font-weight:400;
    border-radius:3px;
    font-size:8px;
    margin:0 0 0 5px;
    text-transform:uppercase;
}
.badge.blue {
    background:#4bf;
}
.badge.red {
    background:#f00;
}
.badge.green {
    background:#37C737
}
.badge.white-text {
    color:#fff;
}
.badge .icon {
    font-weight: 900;
}

/* GRAPH STYLES **************************************************************/

svg {
    width:80%;
    height:245px;
    margin:0 9% 0 11%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  width:10px;
}

.bar {
  fill: steelblue;
  opacity:.5;
}
.bar:hover {
    opacity:.8;
}

.x.axis path {
  display: none;
}
